Source: simple-slices
Section: admin
#Priority: optional
Maintainer: Alex Lieflander <public@atlief.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 coreutils,
 m4,
 pandoc,
Standards-Version: 4.7.3
Homepage: https://github.com/ATLief/simple-slices
Vcs-Browser: https://github.com/ATLief/simple-slices
Vcs-Git: https://github.com/ATLief/simple-slices.git

Package: simple-slices
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
Recommends:
 udev,
 simple-slices-bin (= ${source:Version}),
Suggests:
 simple-slices-preset-desktop | simple-slices-preset-server,
Description: Nice for all system resources
 Running programs on a Linux system can share available resources using a
 feature called "CGroups", which Systemd refers to as "Slices". It supports
 more types of resources than "nice" or "ionice" and natively integrates
 with Systemd units. Unfortunately, very few people benefit from these
 features due to the lack of user-friendly defaults.
 .
 This project addresses that issue by defining 7 Slices with a unified
 priority level for CPU processing, disk bandwidth, RAM storage, and PID
 assignment (future versions may also support priorities for network
 bandwidth, swappiness, VRAM, and core types of hybrid CPUs). It can
 optionally change the default priority levels for certain types of programs
 to optimize performance for desktops or servers without needing additional
 configuration.
 .
 To enable one of the optimized defaults, install one of the
 simple-slices-preset-* packages. Instructions for usage and more technical
 information can be viewed by running "man simple-slices".

Package: simple-slices-bin
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
Recommends:
 simple-slices (= ${source:Version}),
Description: Utilities to execute commands with specified priority
 This package is mostly a convenience wrapper for systemd-run which executes
 commands with a specified priority; this acts like a combination of "nice"
 and "ionice" but uses native systemd functionality and CGroups (which
 support additional features).
 .
 Although these utilities are intended to be used with the simple-slices
 package, any slices can be used. See the simple-slices package for a full
 description of its functionality.

Package: simple-slices-preset-desktop
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
 simple-slices (= ${source:Version}),
Conflicts:
 simple-slices-preset-server,
Description: Optimized version of simple-slices for desktops
 See the simple-slices package for a full description of its functionality.
 This package slightly changes the default priorities to be more optimized
 for desktop/graphical workloads.

Package: simple-slices-preset-server
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
 simple-slices (= ${source:Version}),
Conflicts:
 simple-slices-preset-desktop,
Description: Optimized version of simple-slices for servers
 See the simple-slices package for a full description of its functionality.
 This package slightly changes the default priorities to be more optimized
 for server workloads.
