Source: simple-slices
Section: admin
Priority: optional
Maintainer: Alex Lieflander <public@atlief.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 coreutils,
 m4,
 pandoc,
Standards-Version: 4.6.2
Homepage: https://github.com/ATLief/simple-slices
Vcs-Browser: https://github.com/ATLief/simple-slices
Vcs-Git: https://github.com/ATLief/simple-slices.git

Package: simple-slices
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
 udev,
Recommends:
 simple-slices-bin (= ${source:Version}),
Suggests:
 simple-slices-preset-desktop | simple-slices-preset-server,
Description: Priority-based resource division via simple categories
 This package defines 7 categories ("slices") that each have a priority level determining which categories are given access to system resources first. The categories and their priorities were chosen based on what seemed to work well for most systems and users, but these can be customized if desired. Because it is based on priority, the performance of a category is only limited when the system must already limit performance; this package allows you to choose which programs are limited first, with the end result being that important programs perform better.
 .
 Which programs are "important" is for the user to decide, whether that be faster games or faster web hosting. By assigning commands and programs to a category, they are automatically given the corresponding priority level. Instructions for usage and more technical information can be viewed by running "man simple-slices", but know that this package has been specifically designed to be simple and easy to use.
 .
 New users should install this package first, because it mostly matches how the system behaves before installing this package; resource distribution will only change once you start assigning things to categories.

Package: simple-slices-bin
Architecture: all
Depends:
 ${misc:Depends},
 coreutils,
 util-linux,
 systemd,
Recommends:
 simple-slices (= ${source:Version}),
Description: Utilities to execute commands with specified priority
 This package is mostly a convenience wrapper for systemd-run which executes commands with a specified priority; this acts like a combination of "nice" and "ionice" but uses native systemd functionality and CGroups (which support additional features).
 .
 Although these utilities are intended to be used with the simple-slices package, any slices can be used. See the simple-slices package for a full description of its functionality.

Package: simple-slices-preset-desktop
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
 simple-slices (= ${source:Version}),
Conflicts:
 simple-slices-preset-server,
Description: Optimized version of simple-slices for desktops
 See the simple-slices package for a full description of its functionality. This package slightly changes the default priorities to be more optimized for desktop/graphical workloads.

Package: simple-slices-preset-server
Architecture: all
Depends:
 ${misc:Depends},
 systemd,
 simple-slices (= ${source:Version}),
Conflicts:
 simple-slices-preset-desktop,
Description: Optimized version of simple-slices for servers
 See the simple-slices package for a full description of its functionality. This package slightly changes the default priorities to be more optimized for server workloads.
